numpy
scipy==1.9.2
matplotlib>=3.4
triangle
shapely
sectionproperties
rich
pydata-sphinx-theme
Sphinx==5.2.3
sphinx_autodoc_typehints
sphinx_autorun
ipykernel==6.16.0
ipywidgets
nbconvert==7.2.1
nbsphinx
pandoc
IPython
more_itertools==8.14
tinycss2==1.1.1