numpy
scipy
matplotlib>=3.4
triangle
shapely
sectionproperties
rich
pydata-sphinx-theme
Sphinx>=5.0
sphinx_autodoc_typehints
sphinx_autorun
ipykernel
ipywidgets
nbconvert
nbsphinx
pandoc
IPython
more_itertools
traitlets
jupyter-client==7.4.2
psutil==5.9.2
jupyter-core==4.11.1
tinycss2==1.1.1